<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索</title>
    <script src="scripts/common.js"></script>
    <link rel="stylesheet" href="styles/category_filter.css">
    <link rel="stylesheet" href="styles/bookshelf.css">
    <link rel="stylesheet" href="styles/search.css">
</head>

<body>
    <div id="app">
        <div id="header">
            <Isearch v-on:search="search"></Isearch>
        </div>
        <div class="hot clear" v-if="!searchComplete">
            <div class="title">热门搜索</div>
            <div class="list">
                <div v-for="item in hotSearchData" class="item" :class="{fire: item.hot == 1}">
                    {{item.name}} <i v-if="item.hot == 1" class="fa fa-fire"></i>
                </div>
            </div>
        </div>
        <div class="result" v-if="searchComplete">
            <!-- 作者 -->
            <div class="booklist">
                <div v-for="item in booklist" class="item">
                    <img class="img" :src="[item.img]" :alt="[item.img]">
                    <div class="content">
                        <div class="title">{{item.name}}<span class="addToShelf">加入书架</span></div>
                        <div class="description">{{item.description}}</div>
                        <div class="more">
                            <div class="author">
                                <i class="fa fa-user-circle"></i>{{item.author}}
                            </div>
                            <div class="info">
                                <span class="end">{{ item.isend == 1 ? '完本' : '连载中'}}</span>
                                <span class="tagname">{{item.tagname}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separate-line"></div>
            <!-- 推荐 -->
            <div class="booklist">
                <div class="item">
                    <div class="info">搜索《十三教父》的90%的书友也阅读了</div>
                    <div class="r-booklist">
                        <div class="item" v-for="item in recommendlist">
                            <img :src="[item.img]" :alt="[item.img]" class="img">
                            <div class="title">{{item.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/search.js"></script>
</body>

</html>