{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>

    <link rel="stylesheet" href="{% static "css/about.css" %}">
</head>
<body>

<div id="app">

    <div id="topnav">
        <p><a href="{% url "users:mine" %}"><</a></p>
        <p class="title">关于我们</p>
    </div>
    
    <div id="top">

        <img src="{% static "images/logo.png" %}" alt="">
        <p>爱书网</p>
        <p>爱书网, 不容错过</p>
        <p>当前版本 1.0.1</p>
    </div>

    <div id="nav">
        <div class="detail">
            <p>版权声明</p>
            <p><a href="{% url "users:copyright" %}">></a></p>
        </div>
        <div class="detail">
            <p>隐私政策</p>
            <p><a href="{% url "users:privacy" %}">></a></p>
        </div>
    </div>
    
</div>

</body>
</html>