{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    
    {% block link %}
    
    {% endblock %}

    <!-- 引入font-awesome -->
    <link href="{% static "fontawesome-5.11.2/css/fontawesome.css" %}" rel="stylesheet">
    <link href="{% static "fontawesome-5.11.2/css/brands.css" %}" rel="stylesheet">
    <link href="{% static "fontawesome-5.11.2/css/solid.css" %}" rel="stylesheet">

    <!-- 引入jquery -->
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>

    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="{% static "bootstrap-3.3.7/css/bootstrap.css" %}">
    <script src="{% static "bootstrap-3.3.7/js/bootstrap.js" %}"></script>

    <!-- 引入vue -->
    <script src="{% static "js/vue2.6.11.js" %}"></script>

    <!-- 引入vuerouter -->
    <script src="{% static "js/vue-router.js" %}"></script>

    <!-- 引入axios -->
    <script src="{% static "js/axios.min.js" %}"></script>

</head>
<body>

<div id="app">
    <div id="container">
        {% block container %}{% endblock %}
    </div>

    <div id="nav">
        <div class="bar">
            <a href="{% url "books:index" %}">
                <i class="fas fa-home"></i>
                <span>首页</span>
            </a>
        </div>
        <div class="bar">
            <a href="{% url "books:category" %}">
                <i class="fas fa-bars"></i>
                <span>分类</span>
            </a>
        </div>
        <div class="bar">
            <a href="{% url "bookcase:bookcase" %}">
                <i class="fas fa-book"></i>
                <span>书架</span>
            </a>
        </div>
        <div class="bar">
            <a href="{% url 'users:mine' %}">
                <i class="fas fa-user"></i>
                <span>我的</span>
            </a>

        </div>
    </div>
</div>


</body>
{% block template %}{% endblock %}
{% block script %}{% endblock %}
</html>