{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        版权声明
    {% endblock %}
    {% block link %}
        {% static './css/copyright.css' %}
    {% endblock %}
</head>
<body>

    {% block top %}
        <a href="{% url 'users:about' %}"><i class="fa fa-angle-left"></i><a><span>版权声明</span>
    {% endblock %}

    {% block content %}
        <div id="content">
            <p>
                爱书网一贯高度重视知识产权保护并遵守中华人民共和国各项知识产权法律、法规和具有约束力的规范性文件, 充分尊重和包含权利人的合法权利，
                爱书网根据我国相关法律法规的规定，特制定本声明。
            </p>
            <p>
                如果您认为爱书网呈现的相关内容侵犯了您的合法权益，请您通过爱书网中的问题反馈渠道与爱书网取得联系，向爱书网提交书面权利通知书，通知书的内容
                应包括但不限于以下内容:
            </p>
            <p>
                1、您的名称（姓名）及身份证明（包括身份证、营业执照等有效证件）、联系方式（含Email地址）及地址；
            </p>
            <p>
                2、明确要求删除或者断开链接内容的准备名称和网络地址
            </p>
            <p>
                3、构成侵权地初步证明材料。该初步证明材料应包括:(1)您拥有权利的权属证明材料，包括但不限于相关有权机构颁发的证书、作品搜词公开发表
                或发行日期证明材料、创作手稿等能证明权利人拥有相关权利的有效权属证明；(2)如为授权取得, 您还需提供完整的授权文件；(3)被投诉内容构成的侵权证明: 包括
                但不限于被投诉方内容构成对权利人的商标、专利、名誉等合法权益侵权的有效证明等
            </p>
            <p>
                您应保证您在通知书中的陈述和提供的相关材料皆是真实、有效和合法的，且您承诺承担如爱书网根据您的通知而删除或断开有关涉嫌侵权内容的链接而给爱书网
                造成的损失，包括但不限于因此向被投诉方支付的损失赔偿以及爱书网商誉损害等
            </p>
            <p>
                一旦收到符合上述要求之通知，爱书网会尽快按照相关法律法规的规定进行处理，包括删除、断开链接等相应措施。如不符合上述条件，我们会请您补充提供相应信息，且不采取
                包括删除等相应措施。
            </p>
        </div>
    {% endblock %}

    {% block bottom %}

    {% endblock %}

</body>
</html>