{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        首页
    {% endblock %}
    {% block link %}
        {% static './css/index.css' %}
    {% endblock %}
</head>
<body>

<div id="main">
    <div id="top">

    </div>
    <div id="content">

    </div>
    <div id="">

    </div>
</div>

</body>
</html>