{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static "css/mine.css" %}">
{% endblock %}

{% block container %}
    <div class="top"></div>

    <div class="user">
        <div class="user-image">
            <img src="{% static "images/head.jpeg" %}" alt="">
        </div>
        <p>[[username]]</p>
    </div>

    <div class="category">

        <div class="detail">
            <p>浏览记录</p>
            <p><a href="{% url "users:history" %}">></a></p>
        </div>

        <div class="detail">
            <p>阅读偏好</p>
            <p><a href="{% url "users:preference" %}">></a></p>
        </div>

        <div class="detail">
            <p>关于我们</p>
            <p><a href="{% url "users:about" %}">></a></p>
        </div>

    </div>

    <div class="logout" v-if="username">
        <p><a href="{% url "users:logout" %}">退出登录</a></p>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static "js/mine.js" %}"></script>
{% endblock %}