{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        隐私政策
    {% endblock %}
    {{% block link %}
    {% static "./css/privacy.css" %}
{% endblock %}}
</head>
<body>

{% block top %}
    <a href="{% url 'users:about' %}"><i class="fa fa-angle-left"></i><a><span>隐私政策</span>
{% endblock %}

{% block content %}
    <div id="content">
        <p>
            【爱书网】深知个人信息对您的重要性，并会尽全力保护您的个人信息安全和可靠。我们致力于维持您对我们的信任，恪守以下原则，
            保护您的个人信息：权值一致原则、目的明确原则、选择同意原则、最少够用原则、确保安全原则、主体参与原则、公开透明原则等。
            同时我们承诺，我们将按业界成熟的安全标准，采取相应的安全保护措施来保护您的个人信息。
        </p>
        <p>
            请在使用我们的产品的（或服务）前，仔细阅读并了解本《隐私权政策》。
        </p>
        <p id="import">
            我们如何收集和使用您的个人信息
        </p>
        <p>
            个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。
        </p>
        <p>
            （一）我们仅会处于本政策所述的以下目的，收集和使用您的个人信息：
        </p>
        <p>
            1、提供、处理、维护、改善、开发我们的商品和提供给您的服务，包括售后服务和客户支持，以及通过设备提供的服务；
        </p>
        <p>
            2、与您就您的设备、服务或任何普通查询（例如更新、客户咨询支持、我们活动的相关信息、通知）等进行交流；
        </p>
        <p>
            3、分析和开发与我们产品及服务的使用相关的统计信息，以更好地改进我们的产品和服务。
        </p>
        <p>
            4、存储并维护与您相关的信息，用于我们运营业务或履行法律义务。
        </p>
    </div>
{% endblock %}

{% block bottom %}

{% endblock %}

</body>
</html>