* {
    padding: 0;
    margin: 0;
}

#top a{
    color: #000000;
}

#top i.fa{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    height: 22px;
    line-height: 22px;
    font-size: 20px;
    color: #ddd;
    margin-left: 4%;
}

.main {
    padding: 0;
    position: relative;
    top: 100px !important;
}


.logo {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    padding: 0;
    text-align: center;
    /*margin: 0 auto;*/
    /*position: absolute;*/
    top: 50%; /*偏移*/
}

#image {
    width: 196px;
    height: 196px;
    padding: 0;
    margin: 0;
}

#title {
    font-size: 20px;
}

.content {
    color: #C9C9C9;
}

.skip {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    top: 500px;
    margin-top: 20px;
}


.skip .item {
    height: 50px;
    font-size: 20px;
    top: 60%;
    padding-left: 15px;
    padding-top: 15px;
}
.skip .item span{
    color: #000;
}

.skip-top {
    margin: 0!important;
    height: 40px;
    font-weight: bold;
    text-align: center
}

.fa-angle-left {
    float: left;
    color: #C9C9C9;
    top: 50%;
    margin-left: 10px;
}

.fa-angle-right {
    /*position: absolute;*/
    float: right;
    right: 0;
    color: #C9C9C9;
    top: 50%;
    margin-right: 10px;
    margin-top: 10px;
}
