#app {
    margin: 0 20px 0 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.logo img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.logo p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #8c8c8c;
    text-align: center;
}

.form {
    padding: 10px;
}

.form .row-group {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.form .row-group p {
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
}


.form .row-group input {
    margin-top: 5px;
    font-size: 18px;
    outline: none;
    width: 50%;
}

.form .row-group .code {
    position: absolute;
    right: 0;
    bottom: 26px;
    z-index: 2;

    width: 206px;
    height: 69px;
    border: 2px solid #00c8b6;
    border-radius: 12px;
    font-size: 26px;
    font-weight: 400;
    color: #00c8b6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .submit {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    border: 2px solid #00c8b6;
    border-radius: 30px;
    background-color: #00c8b6;
    font-size: 25px;
    font-weight: bold;
}

.register {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.register a {
    text-decoration: none;
    color: #9d9d9d;
}

.user_error, .pwd_error {
    margin-left: 70px;
    color: #f00;
}

.more_input {
    margin-top: 10px;
    font-size: 20px;
}

.more_input input {
    float: left;
    margin-top: 10px;
    font-size: 20px;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}