#app{
    padding-top: 45px;
    padding-bottom: 70px;
}
#header .fa-search{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #b0b3b9;
}
.tabbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tabbar .item{
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
    font-weight: bold;
}
.tabbar .item.active{
    color: var(--mainColor);
    border-bottom: 1.4px solid var(--mainColor);
}

.cate-list{
    --space: 20px;
}
.cate-list .item{
    position: relative;
}
.cate-list .item .content{
    padding: var(--space) var(--space) var(--space) 0;
    margin-left: calc(var(--space)*2 + 42px);
    border-bottom: 1px solid #dee2e6;
}
.cate-list .item .img{
    position: absolute;
    left: var(--space);
    top: var(--space);
    width: 42px;
    height: 42px;
    background-color: teal;
    border-radius: 50%;
}
.cate-list .item .title{
    font-weight: bold;
}
.cate-list .item .detail{
    margin-top: 6px;
    color: #999999;
}
.cate-list .item i.fa{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    font-size: 22px;
    color: #dee2e6;
    
}