#footer{
    border: none;
    background-color: #f7f7f7;
    z-index: 999;
    transition: all 0.1s;
    bottom: -63px;
}
#footer.show{
    bottom: 0px;
}

html,body,#app,.screen_bg{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.screen_bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
}
.screen_bg.show{
    display: block;
}

#content{
    padding: 20px;
    font-size: 18px;
    line-height: 2em;
    z-index: 99;
}

#contents{
    position: fixed;
    top: 0;
    left: -80%;
    background-color: #ffffff;
    z-index: 9999;
    width: 80%;
    height: 100%;
    transition: all 0.1s;
    overflow-y: auto;
}
#contents.show{
    left: 0;
}
#contents .title{
    padding: 12px 0;
    margin: 0 20px;
}
.contents-list{
    /* width: 80%; */
    height: 100%;
}
.contents-list .item.active{
    color: #91bcf9;
}

#setting{
    padding: 20px;
    position: fixed;
    bottom: -102px;
    width: 100%;
    border: none;
    background-color: #f7f7f7;
    z-index: 999;
    transition: all 0.1s;
}
#setting.show{
    bottom: 0;
}
#setting .item{
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    height: 21px;
}
#setting .item:first-child{
    margin-top: 0;
}
#setting .left{
    position: absolute;
    width: 42px;
    left: 0;
}
#setting .right{
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 42px;
    box-sizing: border-box;
}
#setting .right .button{
    display: inline-block;
    width: 42px;
    text-align: center;
    background-color: #dad9e0;
    border-radius: 4px;
}
.circle{
    border: 2px solid transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ffffff;
}
.circle.active{
    border-color: #6da5f7;
}
.brown{
    background-color: #d5bc92;
}
.default{
    color: #333333;
    background-color: #ffffff;
}
.cyan-blue{
    background-color: #caedd0;
}
.pink{
    background-color: #e6c8c8;
}
.night{
    color: #5d5d5d;
    background-color: #191919;
}