/*
  header
*/
#header{
    height: 44px;
    line-height: 44px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 999999;
    background-color: #ffffff;
}
#header::after{
    display: block;
    content: '';
    clear: both;
}
#header .title{
    color: #333333;
    font-weight: bold;
}
.search{
    box-sizing: border-box;
    position: relative;
    padding-left: 10px;
    padding-right: 42px;
    width: 100%;
}
.inputSearch{
    width: 100%;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 28px;
    border: none;
    background-color: #eee;
    font-size: 14px;
}
.search .cancel{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 42px;
    text-align: center;
    font-size: 14px;
    color: var(--mainColor);
}
/*
  footer
*/
#footer{
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #eee;
    z-index: 999999;
    background-color: #ffffff;
}
.footer-items{
    display: flex;
    justify-content: space-evenly;
}
.footer-items .item{
    text-align: center;
}
#footer .icon{
    display: inline-block;
    font-size: 22px;
}
#footer .title{
    margin-top: -4px;
    font-size: 12px;
}