.main {
    padding: 0;
    margin: 0;
}

#top {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

i {
    float: left;
    color: #C9C9C9;
    margin-left: 15px;
}

p {
    font-size: 25px;
    text-indent: 40px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

#import {
    font-weight: bold;
}