#app{
    padding-top: 45px;
}
.hot{
    padding: 20px;
}
.hot .title{
    color: #999999;
}
.hot .list{
    margin-top: 26px;
}
.hot .list > .item{
    float: left;
    width: 50%;
}
.hot .list > .item:nth-child(n+3){
    margin-top: 18px;
}
.hot .list > .item.fire{
    color: #d0021b;
}

.r-booklist > .item{
    margin-left: 4%;
    padding-top: 32%;
    width: 22%;
}
.r-booklist > .item:nth-child(4n+1){
    margin-left: 0;
}